.pathKnob {
  stroke: blue;
  fill: white;
}

.pathKnobTouchArea {
  stroke: transparent;
  fill: transparent;
}

.path {
  stroke: blue;
}

.pathTextEditor {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.pathText {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
