@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.view-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.editor-container {
  background-color: white;
  min-width: 400px;
  display: flex;
  flex-direction: column;
}

.form-container {
  display: flex;
  flex-direction: column;
  margin-inline-start: 40px;
  margin-top: 40px;
}

.form-container .label{
  color: black;
}

.form-container .input {
  color: black;
  border: 1px solid black;
  padding-inline-start: 10px;
  margin-top: 2px;
  width: 70%;
  height: 30px;
  border-radius: 5px;
}


body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}



